Checks: '
-*,
bugprone-suspicious-semicolon,
clang-*,
modernize-*,
performance-*,
portability-restrict-system-includes,
readability-*,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
-modernize-make-shared,
-modernize-make-unique,
-modernize-use-auto,
-modernize-use-uncaught-exceptions,
-performance-no-int-to-ptr,
-readability-make-member-function-const,
-readability-magic-numbers,
-readability-uppercase-literal-suffix,
-readability-convert-member-functions-to-static,
-readability-static-accessed-through-instance,
-clang-diagnostic-pessimizing-move'